Tests: self
Restrictions: superficial

Tests: vs-freebsd
Depends: @, freebsd-buildutils
Restrictions: skip-not-installable, superficial

Tests: vs-libarchive
Depends: @, libarchive-tools | bsdtar
Restrictions: superficial
